body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(../assets/openart-191eaf20a4f0477683f47432e5564655.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerInteiro{
    
}