body {
    margin: 0;
    padding: 0;
    background-color: #05051fd0;
    overflow-x: hidden;
    cursor: pointer;
}

.titulo {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin: 0;
    position: absolute;
    left: 18%;
}

.titulo2 {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 125px;

}

@font-face {
    font-family: face;
    src: url(../Britannic\ Bold\ Regular/.titulo/.titulo2/.banner);
}

@font-face {
    font-family: face;
    src: url(../Brawler/Brawler-Regular.ttf./.navbar);
}

* {
    scroll-behavior: smooth;
}

.navbar {
    width: 300px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap: 5vh;


}

.navbar li {
    margin-right: 20px;
}

.header {
    border-bottom: 3px solid #4682b4;
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    z-index: 3;
}


.container {
    width: 80px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.containerTit {
    position: relative;
    background-color: #4682b4;
    color: white;
    display: flex;
    height: fit-content;
    width: 200px;
    align-items: start;
    margin-left: 50px;
    margin-bottom: -80px;

}

.header .container {
    justify-content: space-evenly;

}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #4682b4;
}

.divLC {
    display: flex;
    gap: 2vh;
    margin-left: 55%;
}

.containerTit a {
    text-decoration: none;
}

#Dashboard {
    display: flex;
    flex-direction: row;
    margin-top: 100px;

}

.grafico1 {
    width: 450px;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
}

#kpi_box {
    background-color: #05051f;
    box-shadow: 4px 4px white;
    border-radius: 30px;
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around
    
}

#kpi_title {
    width: 200px;
    text-align: justify;
    font-size: 25px;
    font-weight: 900;
    color: white;
}

#kpi_value {
    color: white;
}

.grafico2 {
    width: 450px;
    display: flex;
    margin-left: 10%;

}