body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.titulo {
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin: 0;
    position: absolute;
    left: 18%;

}

.titulo2 {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-left: 125px;
}

@font-face {
    font-family: face;
    src: url(../Britannic\ Bold\ Regular/.titulo/.titulo2/.banner);
}

@font-face {
    font-family: face;
    src: url(../Brawler/Brawler-Regular.ttf./.navbar);
}

.navbar {
    width: 300px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

.navbar li {
    margin-right: 20px;
}

.header {
    border-bottom: 3px solid #4682b4;
}

.container {
    width: 80px;
    margin: auto;
    display: flex;
}

.containerTit {
    position: relative;
    background-color: #4682b4;
    color: white;
    display: flex;
    height: fit-content;
    width: 200px;
    align-items: start;
    margin-left: 50px;
    margin-bottom: -80px;

}

.header .container {
    justify-content: space-evenly;

}

.banner {
    background-image: url(../assets/openart-c72147f6cbbf4c2bad6717ff07a46e6f.png);
    height: 550px;
    color: #d9d9d9;
    background-size: cover;
}

.banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;

}

.banner .container {
    font-size: 150px;
    color: white;
    text-shadow: 4px 4px 0px #4682b4;

}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #4682b4;
}

.divLC {
    display: flex;
    margin-left: 85%;
}

.sobre{
    background-color: #DEDAD5;
    background-image: url(../assets/openart-40cfd0865db4452cb05a57ae225c3552-removebg-preview.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: start;
    height: 505px;
}

.sobre h1{
    margin-top: 0;
    text-align: center;
    font-size: 45px;
    color: #044783;
    text-shadow: 3px 3px 0px white;
    white-space: nowrap;
    
    
}

.sobre .titulo2{
    margin-top: 100px;
    left: -100px;
    display: flex;

}

.conteudo{
    display: flex;
    justify-content: left;
    margin-top: 190px;
    margin-left: -140px;
    justify-content: center;
    
}



