body{
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conteudo{
    height: 500px;
    width: 400px;
    border: 2px solid black;
}